*{
    margin: 0;
    padding: 0;
}
/*Header*/
header
{
    height: 10vh;
    
}
header > .Top_Panel
{
    width: 90%;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.Top_Panel > .MainPage
{
    position: relative;
    width: 200px;
}
.Top_Panel > .MainPage > .logo
{
    float: right;
    text-decoration: none;
}
.Navigation_Bar
{
   height: 10vh; 
   position: relative;
}
.Navigation_List
{
    height: 10vh; 
   position: relative;
}
.UnOrdered_Nav_List
{
    display: flex;
    list-style-type: none;
    height: 10vh; 
   position: relative;
   align-items: center;
}
.UnOrdered_Nav_List > li
{
    padding-left: 25px;
    position: relative;
}
.UnOrdered_Nav_List > li a
{
    text-decoration: none;
    color: black;
}
.dropdown
{
    visibility: hidden;
    opacity: 0;
    display: none;
    position: absolute;
    width: 130%;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    list-style: none;
}
.dropdown_for_tests
{
    
    flex-direction: column;
    position: relative;
    width: 80%;
    height: 130px;
}
.dropdown_for_tests > li
{
    position: relative;
    padding-top: 10px;
}
.dropdown_for_tests > li > a
{
    text-align: left;
}
.dropdown:hover 
{
    visibility: visible;
    opacity: 1;
    display: flex;
}
.UnOrdered_Nav_List li img
{
    width: 25px;
    height: 25px;
}
.Magnify
{
    display: flex;
    flex-direction: column;
    position: relative;
}
.Search_Input
{
    position: absolute;
    display: flex;
    margin-left: -250px;
    margin-top: 10px;
    width: 250px;
    height: 50px;
    justify-content: space-between;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    background: white;
    transition: 1s;
    z-index: 1;
}
.Search_Button
{
    width: 75px;
    background-color: blue;
    color: white;
}
.Magnify:hover .Search_Input
{
    margin-top: -200px;
}
.SideBar
{
    display: none;
    visibility: hidden;
    opacity: 0;
}
/*Opening*/
.Opening 
{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(images/Opening_background.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Opening_Part
{
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Opening_Header1
{
    color: white;
    text-align: center;
    font-size: 72px;
    transform: translateY(-50px);
}
.Opening_Buttons
{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 12px;
}
.read_more
{
    width: 200px;
    height: 50px;
    color: white;
    background-color: cornflowerblue;
    border: none;
}
.read_more:hover
{
    cursor: pointer;
    background-color: dodgerblue;
}
.download_now
{
    width: 200px;
    height: 50px;
    color: white;
    background: transparent;
    border-color: white;
}
.download_now:hover
{
    cursor: pointer;
    color: black;
    background-color: white;
}
/*About_Company*/
.About_Company
{
    position: relative;
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.About_Copmany_Part
{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 100px;
}
.About_Company img
{
    width: 700px;
    height: 450px;
}
.About_Company_Right_Hand_Side
{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    align-items: center;
}
.About_Company_read_more
{
    width: 200px;
    height: 50px;
    color: white;
    background-color: cornflowerblue;
    border: none;
}
.About_Company_read_more:hover
{
    cursor: pointer;
    background-color: dodgerblue;
}
/*About_Portfolio*/
.About_Portfolio
{
    position: relative;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
}
.About_Portfolio_Part
{
    position: absolute;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    column-gap: 150px;
}
.About_Portfolio_Left_Hand_Side
{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}
.About_Portfolio_Header1
{
    font-size: 36px;
}
.About_Portfolio_see
{
    width: 200px;
    height: 50px;
    color: white;
    background-color: cornflowerblue;
    border: none;
}
.About_Portfolio_see:hover
{
    cursor: pointer;
    background-color: dodgerblue;
}
.About_Portfolio img
{
    width: 700px;
    height: 450px;
}
/*Parallax*/
.Parallax
{
    position: relative;
    height: 60vh;
    background-image: url("images/Parallax.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Parallax_Elements
{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 25px;
}
.Parallax_Header1
{
    color: white;
    text-align: center;
    font-size: 48px;
}
.Parallax_Text1
{
    color: white;
    text-align: center;
}
.Parallax_Buttons
{
    display: flex;
    justify-content: center;
}
.Parallax_more_info
{
    width: 200px;
    height: 50px;
    color: white;
    background-color: cornflowerblue;
    border: none;
}
.Parallax_more_info:hover
{
    cursor: pointer;
    background-color: dodgerblue;
}
/*Options*/
.Options
{
    position: relative;
    width: 100%;
    height: 150vh;
    align-items: center;
    justify-content: center;
}
.Options_Part
{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
}
.Options_Header1
{
    color: black;
    text-align: center;
}
.Options_Text1
{
    color: black;
    text-align: center;
}
.Options_download
{
    width: 200px;
    height: 50px;
    color: white;
    background-color: cornflowerblue;
    border: none;
}
.Options_download:hover
{
    cursor: pointer;
    background-color: dodgerblue;
}
.Options_Part img
{
    height: auto;
    max-width: 100%;
}
/*Projects*/
.Projects
{
    position: relative;
    width: 100%;
    height: 150vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.Projects_Part
{
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}
.Projects_Header1
{
    color: white;
}
.Projects_Text1
{
    color: white;
}
.Projects_grid
{
    display: grid;
    grid-template-columns: repeat(4, 0fr);
    grid-template-rows: repeat(3, 0fr);
}
.Projects_grid img
{
    width: 375px;
    height: 280px;
}
.first_project
{
    position: relative;
    transition: 1s;
}
.first_project > .hover_text
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: .5s;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.first_project > .hover_text > p
{
    position: relative;
    color: white;
    font-size: 32px;
}
.first_project:hover > .hover_text
{
    height: 100%;
}
.second_project
{
    position: relative;
    transition: 1s;
}
.second_project > .hover_text
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 1s;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.second_project > .hover_text > p
{
    position: relative;
    color: white;
    font-size: 32px;
}
.second_project:hover > .hover_text
{
    height: 100%;
}
.third_project
{
    position: relative;
    transition: 1s;
}
.third_project > .hover_text
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 1s;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.third_project > .hover_text > p
{
    position: relative;
    color: white;
    font-size: 32px;
}
.third_project:hover > .hover_text
{
    height: 100%;
}
.fourth_project
{
    position: relative;
    transition: 1s;
}
.fourth_project > .hover_text
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 1s;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fourth_project > .hover_text > p
{
    position: relative;
    color: white;
    font-size: 32px;
}
.fourth_project:hover > .hover_text
{
    height: 100%;
}
.fifth_project
{
    position: relative;
    transition: 1s;
}
.fifth_project > .hover_text
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 1s;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fifth_project > .hover_text > p
{
    position: relative;
    color: white;
    font-size: 32px;
}
.fifth_project:hover > .hover_text
{
    height: 100%;
}
.sixth_project
{
    position: relative;
    transition: 1s;
}
.sixth_project > .hover_text
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 1s;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sixth_project > .hover_text > p
{
    position: relative;
    color: white;
    font-size: 32px;
}
.sixth_project:hover > .hover_text
{
    height: 100%;
}
.seventh_project
{
    position: relative;
    transition: 1s;
}
.seventh_project > .hover_text
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 1s;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.seventh_project > .hover_text > p
{
    position: relative;
    color: white;
    font-size: 32px;
}
.seventh_project:hover > .hover_text
{
    height: 100%;
}
.eighth_project
{
    position: relative;
    transition: 1s;
}
.eighth_project > .hover_text
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 1s;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.eighth_project > .hover_text > p
{
    position: relative;
    color: white;
    font-size: 32px;
}
.eighth_project:hover > .hover_text
{
    height: 100%;
}
.ninth_project
{
    position: relative;
    transition: 1s;
}
.ninth_project > .hover_text
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 1s;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ninth_project > .hover_text > p
{
    position: relative;
    color: white;
    font-size: 32px;
}
.ninth_project:hover > .hover_text
{
    height: 100%;
}
.tenth_project
{
    position: relative;
    transition: 1s;
}
.tenth_project > .hover_text
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 1s;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tenth_project > .hover_text > p
{
    position: relative;
    color: white;
    font-size: 32px;
}
.tenth_project:hover > .hover_text
{
    height: 100%;
}
/*Propaganda*/
.Propaganda
{
    position: relative;
    width: 100%;
    height: 60vh;
    background-image: url("images/Propaganda_img.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Propaganda_Part
{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 50px;
}
.Propaganda_Header1
{
    color: white;
}
.Xavier
{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    justify-content: center;
}
.Xavier p
{
    color: white;
    font-size: 24px;
}
.Xavier img
{
    border-radius: 50%;
}
/*Partners*/
.Partners
{
    position: relative;
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Partners_Part
{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 50px;
}
.Partners_Header1
{
    font-size: 36px;
}
.Partners_logos
{
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
}
.Partners_logos img
{
    height: 50px;
    width: 50px;
    opacity: 0.5;
}
.Partners_logos img:hover
{
    opacity: 1;
    cursor: pointer;
}
/*Income*/
.Income
{
    position: relative;
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
}
.Income_Part
{
    position: absolute;
    width: 100%;
    height: 100%;
    column-gap: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*footer*/
footer
{
    position: relative;
    width: 100%;
    height: 25vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Next
{
    position: absolute;
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Next h6
{
    color: white;
    font-size: 25px;
}
.Social_Media 
{
    display: flex;
    column-gap: 50px;
}
.Social_Media img
{
    width: 35px;
    height: 35px;
}