*{
    margin: 0;
    padding: 0;
}

header
{
    display: flex;
    justify-content: space-between;
    height: 10vh;
}
nav ul
{
    display: flex;
    list-style-type: none;
    margin-top: -10px;
}
nav ul li
{
    padding: 25px;
    position: relative;
}
nav  ul  li a
{
    text-decoration: none;
    color: black;
}
.dropdown
{
    visibility: hidden;
    opacity: 0;
    display: none;
    position: absolute;
    margin-top: 10px;
    min-width: 250px;
    background-color: white;
    padding-left: 0;
    left: 0;
    text-align: left;
    align-items: center;
}
ul li:hover > ul,
    ul li ul:hover
{
    visibility: visible;
    opacity: 1;
    display: block;
}
.dropdown li
{
    width: 80%;
    height: 0.1vh;
    width: 100%;
      text-align: left;
      margin-bottom: 20px;
}
.dropdown li:hover
{
    width: 80%;
    height: 0.1vh;
    background-color: whitesmoke;
}
nav  ul  li img
{
    width: 25px;
    height: 25px;
}
.logo
{
    margin-left: 125px;
    text-decoration: none;
}
.logo h1
{
    text-decoration: none;
}
.Search_Input
{
    position: absolute;
    margin-left: -200px;
    margin-top: -250px;
    display: flex;
    width: 250px;
    height: 50px;
    justify-content: space-between;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    background: white;
    transition: 1s;
}
.Search_Button
{
    width: 75px;
    background-color: blue;
    color: white;
}
.Search_Place:hover > .Search_Input
{
    margin-top: 0px;
}

.Opening 
{
    width: 100%;
    height: 100vh;
    background-image: url(images/Opening_background.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Opening_Header1
{
    color: white;
    text-align: center;
    font-size: 72px;
    transform: translateY(-50px);
}
.Opening_Buttons
{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 12px;
}
.read_more
{
    width: 200px;
    height: 50px;
    color: white;
    background-color: cornflowerblue;
    border: none;
}
.read_more:hover
{
    cursor: pointer;
    background-color: dodgerblue;
}
.download_now
{
    width: 200px;
    height: 50px;
    color: white;
    background: transparent;
    border-color: white;
}
.download_now:hover
{
    cursor: pointer;
    color: black;
    background-color: white;
}

.About_Company
{
    height: 90vh;
    display: flex;
    align-items: center;
}
.About_Company img
{
    width: 700px;
    height: 450px;
    padding-left: 150px;
}
.About_Company_Right_Hand_Side
{
    display: block;
    align-items: center;
    margin-left: 100px;
}
.About_Company_read_more
{
    width: 200px;
    height: 50px;
    color: white;
    background-color: cornflowerblue;
    border: none;
}
.About_Company_read_more:hover
{
    cursor: pointer;
    background-color: dodgerblue;
}

.About_Portfolio
{
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    gap: 150px;
}
.About_Portfolio_Left_Hand_Side
{
    display: block;
    align-items: center;
    padding-left: 200px;
}
.About_Portfolio_Header1
{
    font-size: 36px;
}
.About_Portfolio_Text1
{
    padding-top: 20px;
    padding-bottom: 20px;
}
.About_Portfolio_see
{
    width: 200px;
    height: 50px;
    color: white;
    background-color: cornflowerblue;
    border: none;
}
.About_Portfolio_see:hover
{
    cursor: pointer;
    background-color: dodgerblue;
}
.About_Portfolio img
{
    width: 700px;
    height: 450px;
    margin-left: 100px;
}

.Parallax
{
    height: 60vh;
    background-image: url("images/Parallax.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    align-items: center;
}
.Parallax_Elements
{
    display: flex;
    flex-direction: column;
    height: 40vh;
    justify-content: center;
}
.Parallax_Header1
{
    color: white;
    text-align: center;
    font-size: 48px;
}
.Parallax_Text1
{
    color: white;
    text-align: center;
}
.Parallax_Buttons
{
    display: flex;
    justify-content: center;
}
.Parallax_more_info
{
    width: 200px;
    height: 50px;
    color: white;
    background-color: cornflowerblue;
    border: none;
}
.Parallax_more_info:hover
{
    cursor: pointer;
    background-color: dodgerblue;
}

.Options
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.Options_Header1
{
    color: black;
    text-align: center;
    margin-top: 75px;
}
.Options_Text1
{
    color: black;
    text-align: center;
}
.Options_download
{
    vertical-align: middle;
    width: 200px;
    height: 50px;
    color: white;
    background-color: cornflowerblue;
    border: none;
}
.Options_download:hover
{
    cursor: pointer;
    background-color: dodgerblue;
}

.Projects
{
    display: block;
    background-color: black;
}
.Projects_Header1
{
    text-align: center;
    color: white;
}
.Projects_Text1
{
    text-align: center;
    color: white;
}
.Projects_grid
{
    display: grid;
    grid-template-columns: repeat(4, 0fr);
    grid-template-rows: repeat(3, 0fr);
}
.Projects_grid img
{
    width: 375px;
    height: 280px;
}
.first_project
{
    position: relative;
    transition: 1s;
}
.first_project > .hover_text
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 1s;
    overflow: hidden;
}
.first_project > .hover_text > p
{
    position: relative;
    color: white;
    font-size: 32px;
    margin-left: 125px;
}
.first_project:hover > .hover_text
{
    height: 100%;
}
.second_project
{
    position: relative;
    transition: 1s;
}
.second_project > .hover_text
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 1s;
    overflow: hidden;
}
.second_project > .hover_text > p
{
    position: relative;
    color: white;
    font-size: 32px;
    margin-left: 125px;
}
.second_project:hover > .hover_text
{
    height: 100%;
}
.third_project
{
    position: relative;
    transition: 1s;
}
.third_project > .hover_text
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 1s;
    overflow: hidden;
}
.third_project > .hover_text > p
{
    position: relative;
    color: white;
    font-size: 32px;
    margin-left: 125px;
}
.third_project:hover > .hover_text
{
    height: 100%;
}
.fourth_project
{
    position: relative;
    transition: 1s;
}
.fourth_project > .hover_text
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 1s;
    overflow: hidden;
}
.fourth_project > .hover_text > p
{
    position: relative;
    color: white;
    font-size: 32px;
    margin-left: 125px;
}
.fourth_project:hover > .hover_text
{
    height: 100%;
}
.fifth_project
{
    position: relative;
    transition: 1s;
}
.fifth_project > .hover_text
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 1s;
    overflow: hidden;
}
.fifth_project > .hover_text > p
{
    position: relative;
    color: white;
    font-size: 32px;
    margin-left: 125px;
}
.fifth_project:hover > .hover_text
{
    height: 100%;
}
.sixth_project
{
    position: relative;
    transition: 1s;
}
.sixth_project > .hover_text
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 1s;
    overflow: hidden;
}
.sixth_project > .hover_text > p
{
    position: relative;
    color: white;
    font-size: 32px;
    margin-left: 125px;
}
.sixth_project:hover > .hover_text
{
    height: 100%;
}
.seventh_project
{
    position: relative;
    transition: 1s;
}
.seventh_project > .hover_text
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 1s;
    overflow: hidden;
}
.seventh_project > .hover_text > p
{
    position: relative;
    color: white;
    font-size: 32px;
    margin-left: 125px;
}
.seventh_project:hover > .hover_text
{
    height: 100%;
}
.eighth_project
{
    position: relative;
    transition: 1s;
}
.eighth_project > .hover_text
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 1s;
    overflow: hidden;
}
.eighth_project > .hover_text > p
{
    position: relative;
    color: white;
    font-size: 32px;
    margin-left: 125px;
}
.eighth_project:hover > .hover_text
{
    height: 100%;
}
.ninth_project
{
    position: relative;
    transition: 1s;
}
.ninth_project > .hover_text
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 1s;
    overflow: hidden;
}
.ninth_project > .hover_text > p
{
    position: relative;
    color: white;
    font-size: 32px;
    margin-left: 125px;
}
.ninth_project:hover > .hover_text
{
    height: 100%;
}
.tenth_project
{
    position: relative;
    transition: 1s;
}
.tenth_project > .hover_text
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 1s;
    overflow: hidden;
}
.tenth_project > .hover_text > p
{
    position: relative;
    color: white;
    font-size: 32px;
    margin-left: 125px;
}
.tenth_project:hover > .hover_text
{
    height: 100%;
}

.Propaganda
{
    height: 60vh;
    background-image: url("images/Propaganda_img.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Propaganda_Header1
{
    padding-top: 25px;
    color: white;
    text-align: center;
}
.Xavier
{
    display: flex;
    flex-direction: column;
}
.Xavier p
{
    color: white;
    text-align: center;
}
.Xavier img
{
    border-radius: 50%;
}

.Partners
{
    height: 40vh;
    display: block;
}
.Partners_Header1
{
    margin-top: 75px;
    color: black;
    text-align: center;
    font-size: 36px;
}
.Partners_logos
{
    display: flex;
    justify-content: space-between;
}
.Partners_logos img
{
    height: 50px;
    width: 50px;
    margin: 50px;
    opacity: 0.5;
}
.Partners_logos img:hover
{
    opacity: 1;
    cursor: pointer;
}

.Income
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
    gap: 100px;
    background-color: whitesmoke;
}

footer
{
    display: flex;
    height: 25vh;
    background-color: black;
    align-items: center;
    justify-content: space-between;
}
footer h6
{
    color: white;
    margin-left: 100px;
    margin-top: 10px;
    font-size: 25px;
}
footer nav ul li
{
    margin-right: 50px;
    padding: 0px;
    margin-top: 20px;
}
.SideBar
{
    display: none;
    visibility: hidden;
    opacity: 0;
}
@media(max-width: 768px)
{
.logo > h1
{
    margin-left: -100px;
    margin-top: 20px;
}
.Opening
{
    background-size: cover;
}
.Opening_Header1
{
    text-align: center;
}
.Opening_Buttons
{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}
.About_Company
{
    display: block;
    height: 100vh;
    padding-bottom: 100px;
}
.About_Company > img
{
    width: 250px;
    height: 250px;
    margin-top: 50px;
    margin-left: -75px;
    padding-bottom: 50px;
}
.About_Company_Right_Hand_Side
{
    margin-right: -150px;
}
.About_Company_Header1
{
    padding-bottom: 20px;
}
.About_Portfolio
{
    display: block;
    margin-left: -150px;
    padding-bottom: 100px;
}
.About_Portfolio_Left_Hand_Side
{
    padding-bottom: 50px;
}
.About_Portfolio > img
{
    width: 350px;
    height:250px;
    margin-left: 150px;
}
.Options
{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: whitesmoke;
}
.Options >img
{
    width: 100%;
    height: 250px;
}
.Projects_Header1
{
    padding-top: 50px;
    padding-bottom: 20px;
}
.Projects_Text1
{
    padding-bottom: 10px;
}
.first_project > .hover_text
{
    height: 100%;
}
.second_project > .hover_text
{
    height: 100%;
}
.third_project > .hover_text
{
    height: 100%;
}
.fourth_project > .hover_text
{
    height: 100%;
}
.fifth_project > .hover_text
{
    height: 100%;
}
.sixth_project > .hover_text
{
    height: 100%;
}
.seventh_project > .hover_text
{
    height: 100%;
}
.eighth_project > .hover_text
{
    height: 100%;
}
.ninth_project > .hover_text
{
    height: 100%;
}
.tenth_project > .hover_text
{
    height: 100%;
}
.Projects_grid
{
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}
.Propaganda
{
    height: 100%;
}
.Partners
{
    height: 100%;
}
.Partners_logos
{
    margin-left: 30px;
    width: 350px;
    overflow: hidden;
}
.Income
{
    justify-content: center;
    gap: 10px;
}
.Income_Header1
{
    font-size: 16px;
}
footer
{
    display: flex;
    flex-direction: column;
}
footer > h6
{
    font-size: 16px;
    margin-left: 10px;
}
footer nav ul li
{
    margin-left: -20px;
}
.Navigation_Bar > nav > ul
{
    display: flex;
    flex-direction: column;
}
.Navigation_Bar > nav > ul > li
{
    padding: 5px;
}
.Navigation_Bar
{
    padding-bottom: 10px;
}
header
{
    height: 270px;
    display: flex;
    flex-direction: column;
}
.Navigation_Bar > .Search_Place
{
    display: flex;
    flex-direction: column;
    position: relative;
}
.Search_Place > .Search_Input
{
    margin: 0;
    padding: 0;
}
.Search_Place li img
{
    display: none;
}
.SideBar
{
    display: inline-block;
    visibility: visible;
    opacity: 1;
    position: absolute;
    right: 0px;
    top: 10px;
    height: 50px;
    width: 50px;
    margin-right: 20px;
}
.SideBar > .SideMenu > img
{
    height: 25px;
    width: 25px;
}
}