@media(max-width: 320px)
{
    /*Header*/
    header
{
    height: 10vh;
}
.logo h1
{
    font-size: 24px;
}
.UnOrdered_Nav_List
{
    flex-direction: column;
    z-index: 1;
    right: -200px;
    top:50px;
}
.Magnify
{
    display: none;
}
.Search_Input
{
    height: 30px;
    width: 30px;
    margin-left: -60px;
}
.Search_Input input
{
    width: 90px;
}
.Search_Button
{
    width: 60px;
}
.SideBar
{
    display: flex;
    visibility: visible;
    opacity: 1;
}
.SideMenu img
{
    width: 20px;
    height: 20px;
}
/*Opening*/
.Opening_Buttons
{
    flex-direction: column;
    align-items: center;
}
/*About_Copmany*/
.About_Copmany_Part
{
    flex-direction: column;
    row-gap: 20px;
}
.About_Copmany_Part img
{
    width: 200px;
    height: 150px;
}
/*About_Portfolio*/
.About_Portfolio_Part
{
    flex-direction: column;
    row-gap: 20px;
}
.About_Portfolio_Part img
{
    width: 200px;
    height: 150px;
}
/*Parallax*/
.Parallax_Header1
{
    font-size: 24px;
}
/*Options*/
.Options
{
    height: 100vh;
}
.Options_Part img
{
    height: 70%;
    max-width: 70%;
}
/*Projects*/
.Projects
{
    height: 470vh;
}
.Projects_grid
{
    grid-template-columns: repeat(1, 0fr);
    grid-template-rows: repeat(10, 0fr);
}
.Projects_grid img
{
    width: 250px;
    height: 200px;
}
/*Propaganda*/
.Propaganda_Header1
{
    font-size: 24px;
    margin-bottom: 250px;
}
.Propaganda_Arrows
{
    width: 60%;
}
.Xavier p
{
    font-size: 16px;
}
.Hernandez p
{
    font-size: 16px;
}
.Xavier img
{
    height: 100px;
    width: 100px;
}
.Hernandez img
{
    height: 100px;
    width: 100px;
}
/*Partners*/
.Partners_Part
{
    width: 80%;
    overflow: hidden;
    row-gap: 20px;
}
.Partners_Header1
{
    font-size: 24px;
}
.Partners_logos
{
    column-gap: 30px;
}
/*Income*/
.Income_Part
{
    flex-direction: column;
    row-gap: 20px;
}
/*footer*/
.Next
{
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
}
.Next h6
{
    font-size: 16px;
}
.Social_Media 
{
    column-gap: 30px;
}
.Social_Media img
{
    width: 25px;
    height: 25px;
}
}