header
{
    display: flex;
    justify-content: space-between;
    height: 10vh;
}
nav ul
{
    display: flex;
    list-style-type: none;
    margin-top: -10px;
}
nav ul li
{
    padding: 25px;
    position: relative;
}
nav  ul  li a
{
    text-decoration: none;
    color: black;
}
.dropdown
{
    visibility: hidden;
    opacity: 0;
    display: none;
    position: absolute;
    margin-top: 10px;
    min-width: 250px;
    background-color: white;
    padding-left: 0;
    left: 0;
    text-align: left;
    align-items: center;
}
ul li:hover > ul,
    ul li ul:hover
{
    visibility: visible;
    opacity: 1;
    display: block;
}
.dropdown li
{
    width: 80%;
    height: 0.1vh;
    width: 100%;
      text-align: left;
      margin-bottom: 20px;
}
.dropdown li:hover
{
    width: 80%;
    height: 0.1vh;
    background-color: whitesmoke;
}
nav  ul  li img
{
    width: 25px;
    height: 25px;
}
.logo
{
    margin-left: 125px;
    margin-top: -20px;
    text-decoration: none;
}
.logo h1
{
    text-decoration: none;
}
.Search_Place
{
    display: flex;
    flex-direction: column;
}
.Search_Input
{
    position: relative;
    left: -50px;
    display: flex;
    width: 250px;
    justify-content: space-between;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    background: white;
}

.Opening 
{
    width: 100%;
    height: 100vh;
    background-image: url(images/Opening_background.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Opening_Header1
{
    color: white;
    text-align: center;
    font-size: 72px;
    transform: translateY(-50px);
}
.Opening_Buttons
{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 12px;
}
.read_more
{
    width: 200px;
    height: 50px;
    color: white;
    background-color: cornflowerblue;
    border: none;
}
.read_more:hover
{
    cursor: pointer;
    background-color: dodgerblue;
}
.download_now
{
    width: 200px;
    height: 50px;
    color: white;
    background: transparent;
    border-color: white;
}
.download_now:hover
{
    cursor: pointer;
    color: black;
    background-color: white;
}

.About_Company
{
    height: 90vh;
    display: flex;
    align-items: center;
}
.About_Company img
{
    width: 700px;
    height: 450px;
    padding-left: 150px;
}
.About_Company_Right_Hand_Side
{
    display: block;
    align-items: center;
    margin-left: 100px;
}
.About_Company_read_more
{
    width: 200px;
    height: 50px;
    color: white;
    background-color: cornflowerblue;
    border: none;
}
.About_Company_read_more:hover
{
    cursor: pointer;
    background-color: dodgerblue;
}

.About_Portfolio
{
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    gap: 150px;
}
.About_Portfolio_Left_Hand_Side
{
    display: block;
    align-items: center;
    padding-left: 200px;
}
.About_Portfolio_Header1
{
    font-size: 36px;
}
.About_Portfolio_Text1
{
    padding-top: 20px;
    padding-bottom: 20px;
}
.About_Portfolio_see
{
    width: 200px;
    height: 50px;
    color: white;
    background-color: cornflowerblue;
    border: none;
}
.About_Portfolio_see:hover
{
    cursor: pointer;
    background-color: dodgerblue;
}
.About_Portfolio img
{
    width: 700px;
    height: 450px;
    margin-left: 100px;
}

.Parallax
{
    height: 60vh;
    background-image: url("images/Parallax.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    align-items: center;
}
.Parallax_Elements
{
    display: flex;
    flex-direction: column;
    height: 40vh;
    justify-content: center;
}
.Parallax_Header1
{
    color: white;
    text-align: center;
    font-size: 48px;
}
.Parallax_Text1
{
    color: white;
    text-align: center;
}
.Parallax_Buttons
{
    display: flex;
    justify-content: center;
}
.Parallax_more_info
{
    width: 200px;
    height: 50px;
    color: white;
    background-color: cornflowerblue;
    border: none;
}
.Parallax_more_info:hover
{
    cursor: pointer;
    background-color: dodgerblue;
}

.Options
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.Options_Header1
{
    color: black;
    text-align: center;
    margin-top: 75px;
}
.Options_Text1
{
    color: black;
    text-align: center;
}
.Options_download
{
    vertical-align: middle;
    width: 200px;
    height: 50px;
    color: white;
    background-color: cornflowerblue;
    border: none;
}
.Options_download:hover
{
    cursor: pointer;
    background-color: dodgerblue;
}

.Projects
{
    display: block;
    background-color: black;
    width: 100%;
}
.Projects_Header1
{
    text-align: center;
    color: white;
}
.Projects_Text1
{
    text-align: center;
    color: white;
}
.Projects_grid
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 100px;
}
.first_project
{
    position: relative;
}
.hover_text
{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0;
    left: 0;
    overflow: hidden;
}
.hover_text p
{
    
    color: white;
}
.Projects_grid img
{
    width: 375px;
    height: 375px;
}
.Projects_grid img:hover
{
    cursor: pointer;
}

.Propaganda
{
    height: 60vh;
    background-image: url("images/Propaganda_img.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Propaganda_Header1
{
    padding-top: 25px;
    color: white;
    text-align: center;
}
.Xavier
{
    display: flex;
    flex-direction: column;
}
.Xavier p
{
    color: white;
    text-align: center;
}
.Xavier img
{
    border-radius: 50%;
}

.Partners
{
    height: 40vh;
    display: block;
}
.Partners_Header1
{
    margin-top: 75px;
    color: black;
    text-align: center;
    font-size: 36px;
}
.Partners_logos
{
    display: flex;
    justify-content: space-between;
}
.Partners_logos img
{
    height: 50px;
    width: 50px;
    margin: 50px;
    opacity: 0.5;
}
.Partners_logos img:hover
{
    opacity: 1;
    cursor: pointer;
}

.Income
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
    gap: 100px;
    background-color: whitesmoke;
}

footer
{
    display: flex;
    height: 25vh;
    background-color: black;
    align-items: center;
    justify-content: space-between;
}
footer h6
{
    color: white;
    margin-left: 100px;
    margin-top: 10px;
    font-size: 25px;
}
footer nav ul li
{
    margin-right: 50px;
    padding: 0px;
    margin-top: 20px;
}